
.red {
    -fx-border-color: #ee5253;
}

.green {
    -fx-border-color: #10ac84;
}

.blue {
    -fx-border-color: #0abde3;
}

.yellow {
    -fx-border-color: #feca57;
}

.rounded {
    -fx-border-radius: 50%;
    -fx-background-radius: 50%;
}
