@import "../base.css";

#login-root {
    
    -fx-min-width: 800px;
    -fx-pref-width: 800px;
    
    -fx-min-height: 800px;
    -fx-pref-height: 800px;
    
}

.login-input-field {
    -fx-min-width: 300;
    -fx-border-radius: 30;
    -fx-background-radius: 30;
}

.login-button {
    -fx-min-width: 150;
    -fx-border-radius: 30;
    -fx-background-radius: 30;
}

.login-error-info {
    -fx-fill: red;
}