/**
 * HOME SCREEN STYLE 
 */
 


.root {    
    -fx-min-height: 500px;
    -fx-pref-height: 500px;
    -fx-min-width: 800px;
    -fx-pref-width: 800px;

    -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #576574, #222f3e);
}

.logo {
    -fx-background-image: url("/logo/LogoNoSasso.png");
}


.squircle {
    -fx-min-width: 160px;
    -fx-min-height: 160px;
    -fx-border-width: 5px;
    -fx-border-radius: 50%;
    -fx-background-radius: 50%;
    -fx-background-color: transparent;
}


.red {
    -fx-border-color: #ee5253;
}
.red:hover {
    -fx-background-color: #ee5253;
}

.green {
    -fx-border-color: #10ac84;
}
.green:hover {
    -fx-background-color: #10ac84;
}

.blue {
    -fx-border-color: #0abde3;
}
.blue:hover {
    -fx-background-color: #0abde3;
}

.yellow {
    -fx-border-color: #feca57;
}
.yellow:hover {
    -fx-background-color: #feca57;
}

