/**
 * HOME SCREEN STYLE 
 */
 
.root {
    -fx-min-width: 600px;
    -fx-min-height: 700px;
}

.home-container {    
    -fx-background-color: linear-gradient(from 10% 10% to 100% 100%, #485461, #28313b);
}

.home-container menubar {
    -fx-min-height: 30px;
    -fx-max-height: 30px;
    -fx-rigth: 0px;
}
