/**
 * Style for loading page --> DARK STYLE
 */
/*
 * 
 * -fx-background-color: linear-gradient(from 10% 10% to 100% 100%, #29524A, #E9BCB7);
 */
 .root{
    
    -fx-background-color: linear-gradient(from 10% 10% to 100% 100%, #485461, #28313b);
    
    -fx-min-width: 500px;
    -fx-min-height: 300px;
    -fx-max-width: 500px;
    -fx-max-height: 300px;
}

/** 
 * Progress bar styling.
 */
.progress-bar > .track {
  -fx-text-box-border: forestgreen;
  -fx-control-inner-background: white;
}
.progress-bar .bar { 
    -fx-padding: 1px; 
    -fx-background-insets: 0; 
}