@import "../pages/loading.css";
@import "../pages/splash.css";
@import "../pages/home.css";
@import "../pages/leaderboard.css";
@import "../pages/settings.css";
@import "../pages/history.css";
@import "../pages/newgame.css";
@import "../pages/setup.css";
@import "../pages/resume.css";
@import "../pages/login.css";

* {
    primary-background-color: linear-gradient(from 10% 10% to 100% 100%, #485461, #28313b);
}


#loading-root {
    -fx-background-color: primary-background-color;
}

#splash-root {
    -fx-background-color: primary-background-color;
}

#home-root {
    -fx-background-color: primary-background-color;
}

#leaderboard-root {
    -fx-background-color: primary-background-color;
}

#settings-root {
    -fx-background-color: primary-background-color;
}

#history-root {
    -fx-background-color: primary-background-color;
}

#newgame-root {
    -fx-background-color: primary-background-color; 
}

#setup-root {
    -fx-background-color: primary-background-color; 
}

.gametype-select-button {
    -fx-background-color: #666;
}

#resume-root {
    -fx-background-color: primary-background-color; 
}

#login-root {
    -fx-background-color: primary-background-color; 
}
